@model Project.Models.PairsModel

@{
    ViewData["Title"] = "Create";
}

    <form asp-action="Create">
        <div class="form-group">
            <input type="submit" value="Show pairs" class="btn btn-primary" />
        </div>
    </form>

  
