@model IEnumerable<Project.Models.PairsModel>

@{
    ViewData["Title"] = "Index";
}


    <div class="row">
        <table class=" table col-lg-6 mx-auto col-md-10 my-5 table-striped ">
            <thead class="">
                <tr>
                    <th>
                        ID najemcy
                    </th>
                    <th>
                        Procent dopasowania
                    </th>
                    <th>
                       Wyślij Wiadomość
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenantID_2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PairCompatibility)%
                    </td>
                    <td>
                        <a href="/TenantModels/Details/@Html.DisplayFor(modelItem => item.TenantID_2)">Details</a>


                    </td>
                    <td>
                        <a asp-area="" asp-controller="Chat" asp-action="index" asp-route-id="@item.TenantID_2">Wiadomość</a>
                    </td>
                </tr>
                    

                }
            </tbody>
        </table>
    </div>