@model IEnumerable<Project.Models.LogsModel>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MessageDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Log)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MessageDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Log)
            </td>
        </tr>
}
    </tbody>
</table>
