@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <ul >
        @if (HttpContextAccessor.HttpContext.Session.GetString("UserID") != null)
        {
            
            <li >
                <a  id="login" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
            </li>
        }
        else
        {
            <li >
                <a  id="register" asp-area="" asp-controller="Account" asp-action="Register">Rejestracja</a>
            </li>
            <li >
                <a  id="login" asp-area="" asp-controller="Account" asp-action="Login">Logowanie</a>
            </li>
        }
    </ul>