@model Tuple<Project.Models.AdvertisementModel, Project.Models.FlatModel, Project.Models.RoomModel>
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AdvertisementModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h2>AdvertisementModel</h2>
            <div class="form-group">
                <label asp-for="Item1.AdvertisementType" class="control-label"></label>
                <select asp-for="Item1.AdvertisementType" class="form-control" asp-items="ViewBag.AdType"></select>
            </div>
            <h2>FlatModel</h2>
            <div class="form-group">
                <label asp-for="Item2.RoomsCount" class="control-label"></label>
                <input asp-for="Item2.RoomsCount" class="form-control" />
                <span asp-validation-for="Item2.RoomsCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item2.BathroomCount" class="control-label"></label>
                <input asp-for="Item2.BathroomCount" class="form-control" />
                <span asp-validation-for="Item2.BathroomCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item2.Surface" class="control-label"></label>
                <input asp-for="Item2.Surface" class="form-control" />
                <span asp-validation-for="Item2.Surface" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item2.KitchenType" class="control-label"></label>
                <input asp-for="Item2.KitchenType" class="form-control" />
                <span asp-validation-for="Item2.KitchenType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">City</label>
                <select class="form-control" asp-items="ViewBag.CityName" name="city"></select>
            </div>
            <h2>RoomModel</h2>
            <div class="form-group">
                <label asp-for="Item3.Surface" class="control-label"></label>
                <input asp-for="Item3.Surface" class="form-control" />
                <span asp-validation-for="Item3.Surface" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Item3.Balcony" /> @Html.DisplayNameFor(model => model.Item3.Balcony)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Item3.Bed" /> @Html.DisplayNameFor(model => model.Item3.Bed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Item3.Wardrobe" /> @Html.DisplayNameFor(model => model.Item3.Wardrobe)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Item3.AdditionalInfo" class="control-label"></label>
                <input asp-for="Item3.AdditionalInfo" class="form-control" />
                <span asp-validation-for="Item3.AdditionalInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item3.Rent" class="control-label"></label>
                <input asp-for="Item3.Rent" class="form-control" />
                <span asp-validation-for="Item3.Rent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
                
            </div>
        </div>




<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
