@model Project.Models.AdvertisementModel

@{
    ViewData["Title"] = "Edit";
}

<div class="row py-3 my-3 justify-content-center panel-minor" >
    <h2>EDYCJA OGŁOSZENIA</h2>
</div>
<div class="row justify-content-center py-3">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AdvertisementID" />
            <div class="form-group">
                <label  class="control-label">Typ Ogłoszenia</label>
                <input asp-for="AdvertisementType" class="form-control" />
                <span asp-validation-for="AdvertisementType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerID" class="control-label"></label>
                <select asp-for="OwnerID" class="form-control" asp-items="ViewBag.OwnerID"></select>
                <span asp-validation-for="OwnerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlatID" class="control-label"></label>
                <select asp-for="FlatID" class="form-control" asp-items="ViewBag.FlatID"></select>
                <span asp-validation-for="FlatID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
