@model IEnumerable<Project.Models.AdvertisementModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdvertisementType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdvertisementType)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.AdvertisementID">Szczegóły</a>
            </td>
        </tr>
}
    </tbody>
</table>
