@model IEnumerable<Project.Models.OpinionModel>

@{
    ViewData["Title"] = "Index";
}


    <div class="row justify-content-center my-4 ">
        <div class="col-md-8 col-sm-10 ">
            <div class="panel-minor  text-center my-5">
                <h2>Opinie o Właścicielu</h2>
            </div>
            <table class="table table-striped box-shadow my-4">
                <thead>
                    <tr>
                        <th>
                            Treść Opinii
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Opinion)
                            </td>

                            @if (ViewBag.AbleToModify == item.UserID)
                            {
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.OpinionID">Edytuj</a> |
                                    <a asp-action="Delete" asp-route-id="@item.OpinionID">Usuń</a>

                                </td>
                            }

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>