@model Tuple<string, string, string>
@{
    ViewData["Title"] = "ChangePassword";
}
    <div class="row mt-5 px-3 text-center">
        <div class="col-lg-4 col-md-6 align-self-center mx-auto ">
            <p class="panel-minor-small">Zmiana Hasła</p>
        </div>
    </div>
<div class="row mb-5 mt-4 ">
    <div class="col-lg-3 col-md-6 align-self-center mx-auto text-color-create p-3 box-shadow">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Obecne hasło</label>
                <input asp-for="Item1" class="form-control" type="password"/>
                <span asp-validation-for="Item1" class="text-danger"></span>
                @if (ViewBag.OldPass != null)
                {
                    @ViewBag.OldPass
                }
            </div>
            <div class="form-group">
                <label class="control-label">Nowe hasło</label>
                <input asp-for="Item2" class="form-control" type="password"/>
                <span asp-validation-for="Item2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Powtórz nowe hasło</label>
                <input asp-for="Item3" class="form-control" type="password" />
                <span asp-validation-for="Item3" class="text-danger"></span>
                @if (ViewBag.NewPass != null)
                {
                    @ViewBag.NewPass
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div></div>
        </form>
    </div>
</div>