@model Project.Models.UserModel

@{
    ViewData["Title"] = "Delete";
}

<div class="row col-md-6 col-sm-10 mx-auto py-5 justify-content-center">
    <div class="row text-center my-2">
        <h2>Czy jesteś pewien że chcesz usunąć konto?</h2>
    </div>
    <div class="row justify-content-center text-center">
        <form asp-action="Delete">
            <input type="hidden" asp-for="UserID" />
            <input type="submit" value="DELETE" class="btn btn-danger font-weight-bold" /> |
            <a asp-action="Index">Powrót</a>
        </form>
    </div>
</div>
