
@{
    ViewData["Title"] = "Logout";
}

<h1>Właśnie się wylogowałeś</h1>

<li class="nav-item">
    <p>Powrót na stronę główną</p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</li>
<li class="nav-item">
    <p>Zaloguj się ponownie</p>
    <a class="nav-link text-dark" id="login" asp-area="" asp-controller="Account" asp-action="Login">Logowanie</a>
</li>

